appdirs==1.4.4
article==0.1.1
asgiref==3.6.0
asttokens==2.2.1
autopep8==2.0.2
beautifulsoup4==4.9.3
blis==0.7.9
bs4==0.0.1
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.6
confection==0.0.4
contourpy==1.0.7
cryptography==40.0.2
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
dateutils==0.6.12
de-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/de_core_news_lg-3.2.0/de_core_news_lg-3.2.0-py3-none-any.whl
Django==4.2
dnspython==1.16.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl
executing==1.2.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.0
fonttools==4.39.3
frozendict==2.3.7
fuzzywuzzy==0.18.0
gnews==0.2.7
gnewsclient==1.12
graphviz==0.20.1
html5lib==1.1
icecream==2.1.3
idna==3.4
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.2.0
jugaad-data==0.24
kiwisolver==1.4.4
langcodes==3.3.0
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
multitasking==0.0.11
murmurhash==1.0.9
networkx==3.1
newspaper3k==0.2.8
nltk==3.8.1
nsetools==1.0.11
numpy==1.24.2
packaging==23.1
pandas==2.0.0
pathy==0.10.1
Pillow==9.5.0
preshed==3.0.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.8.2
Pygments==2.15.0
pymongo==3.12.3
pyparsing==3.0.9
pytextrank==3.2.4
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2023.3
PyYAML==6.0
regex==2023.3.23
requests==2.26.0
requests-file==1.5.1
scipy==1.10.1
sgmllib3k==1.0.0
six==1.16.0
smart-open==6.3.0
soupsieve==2.4
spacy==3.2.5
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.3
srsly==2.4.6
thinc==8.0.17
tinysegmenter==0.3
tldextract==3.4.0
tomli==2.0.1
tqdm==4.65.0
typer==0.4.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
wasabi==0.10.1
webencodings==0.5.1
yfinance==0.2.17
