@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Raleway:wght@400;500;700;800;900&display=swap');


:root {
    --headings-font: 'Raleway', sans-serif;
    --primary-color: rgb(1, 8, 44);
    --light-grey-color: rgb(243, 243, 243);
    --dark-color: rgb(46, 46, 46);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
  
p {
    line-height: 1.5rem;
    padding: 0.5rem 0rem;
    color: var(--dark-color);
}
h1,
h2,
h3 {
    font-family: var(--headings-font);
    color: var(--primary-color);
}

.container {
    max-width: 1100px;
    padding: 0px 20px;
    margin: auto;
    height: auto;

  }
  body {
    background-color: var(--light-grey-color);
  }
  
  img {
    width: 100%;
  }
  .sports-category,
  .entertainment-category,
  .technology-category,
  .business-category,
  .health-category,
  .science-category {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 2px 20px;
    border-radius: 50px;
    color: white;
    margin: 0.5rem 0rem;
  }
  
  .sports-category {
    background-color: orange;
  }
  
  .entertainment-category {
    background-color: rgb(186, 98, 197);
  }
  
  .technology-category {
    background-color: rgb(0, 151, 245);
  }
  .business-category {
    background-color: rgb(37, 0, 245);
  }
    .health-category {
        background-color: rgb(0, 245, 0);
    }
    .science-category {
        background-color: rgb(245, 0, 0);
    }

  
  /* ====== Preloader ====== */
  .preloader {
    overflow: hidden;

    width: 100vw;
    height: max-content;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
  }
  
  .preloader > div:nth-child(1) {
    width: 4rem;
    height: 4rem;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 1s ease-in-out infinite;
  }
  
  .preloader > div:nth-child(2) {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    font-family: var(--headings-font);
    letter-spacing: 2px;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }

/* =====
SHOWCASE
===== */

.showcase {
    position: relative;
    color: white;
    height: 60vh;
  }
  
  .showcase::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .showcase .container {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  
  .showcase .text-content {
    position: relative;
    padding: 0px 30px;
  }
  
  .showcase .text-content h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 10px 0px;
    letter-spacing: 1px;
    font-family: var(--headings-font);
    color: white;
  }
  
  .showcase .text-content p:nth-child(3) {
    text-align: justify;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Inter' sans-serif;
  }
  
  .showcase .text-content a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.05rem;
    font-weight: 400;
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    margin-top: 10px;
  }
  
  .showcase .text-content a:hover {
    background-color: var(--light-grey-color);
    color: black !important;
  }
  
  /* =====
  ARTICLES
  ===== */
  
  .editor-h1 {
    font-size: 1.6rem;
    margin: 1rem 0rem;
    letter-spacing: 1px;
  }
  
  .segment {
    background-color: white;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  
  .segment:hover {
    box-shadow: 3px 5px 10px rgb(199, 199, 199);
  }
  /* ===
FOOTER
=== */

footer {
    background-color: var(--dark-color);
    color: white;
    height: 100%;
    padding: 2rem 0rem;
    margin-top: 1rem;
  }
  
  
  
  .footer h4 {
    margin-bottom: 1rem;
  }
  
  .footer p {
    font-size: 0.95rem;
    text-align: justify;
  }
  
  .footer .logo {
    margin: 0rem;
    margin-bottom: 1rem;
  }
  
  .footer article:nth-child(3) p {
    border-bottom: 1px dotted rgb(82, 82, 82);
  }
  
  .copyright {
    padding: 0.5rem;
    background-color: rgb(75, 75, 75);
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8rem;
  }
  /* =======
FOR TABLET
======= */

@media (max-width: 900px) {
    /*=====
      NAV BAR 
      =====*/
    nav .container {
      flex-direction: column;
    }
  
    .social {
      display: none;
    }
  
    .options a {
      margin: 0.5rem 0rem;
    }
  
    /* =====
      SHOWCASE
      ===== */
    .showcase .container {
      grid-template-columns: 1fr;
    }
  
    /* =====
      ARTICLES
      ===== */
    .articles {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .articles > a:nth-child(1),
    .articles > a:last-child {
      display: block;
      grid-column: 1 / span 1;
    }
  
    .articles > a:last-child {
      grid-column: 1 / span 1;
    }
  }
  /* =========
ARTICLE PAGE
==========*/

.article-page {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 1.5rem;
    margin: 1.7rem 0rem;
  }
  
  .article-page article {
    background-color: white;
    padding: 1rem;
  }
  
  .article-page > *:first-child {
    grid-row: 1 / span 3;
  }
  
  .article-page > *:first-child > *:nth-child(3) {
    background-color: var(--light-grey-color);
    padding: 0.4rem 1rem;
    margin: 0.7rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .article-page > *:first-child > *:nth-child(3) i {
    margin-right: 0.5rem;
  }
  
  /* .article-page {
    color: white;
    background-color: orange;
  } */

  .article-page article h3 {
    font-size: 1.2rem;
    margin: 0.7rem 0rem;
  }
  
  .article-page article:last-child h3 {
    padding: 0.7rem 0rem;
  }
  
  .article-page article:last-child a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: white;
    background-color: var(--dark-color);
    text-align: center;
    padding: 0.5rem 0rem;
    margin-top: 0.7rem;
  }
  .news{
    box-shadow: 3px 5px 10px rgb(199, 199, 199);
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 5px;
  }

  
  /* =======
FOR MOBILE
======= */

@media (max-width: 700px) {
    /* =====
      SHOWCASE
      ===== */
    .showcase {
      height: 80vh;
      text-align: center;
    }
  
    .showcase .text-content p:nth-child(3) {
      text-align: center;
    }
  
    /* =====
      ARTICLES
      ===== */
    .articles {
      grid-template-columns: 1fr;
    }
  
    /* ===
      FOOTER
      === */
    .footer {
      grid-template-columns: 1fr;
    }
  
    .footer article {
      margin-top: 0.5rem;
    }
  
    /* == 
      ABOUT
      == */
    .about {
      grid-template-columns: 1fr;
      text-align: justify;
    }
  
    /* =========
      ARTICLE PAGE
      ==========*/
    .article-page {
      grid-template-columns: 1fr;
      text-align: justify;
    }
  
    .article-page > *:first-child > *:nth-child(3) {
      flex-direction: column;
    }
  }